name: Deploy Backend

on:
  push:
    branches:
      - main  # Khi có push lên main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/datavis/BE_WEB
            git reset --hard origin/main
            git pull origin main
            npm install
            npm run build
            pm2 restart /home/datavis/BE_WEB/ecosystem.config.js --env production
